﻿@model Project_LTW.Models.Tour

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}

<h2>Tour Du Lịch</h2>

<fieldset>
    <legend>Tour</legend>


    <div class="display-field">
      <h4>  @Html.DisplayFor(model => model.TenTour)</h4>
    </div>
    <div class="display-field">
        <i>Ngày Đăng: @Html.DisplayFor(model => model.NgayDang)</i>
    </div>

    <div class="display-label">
         <b>Khởi hành từ</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDi)
    </div>

    <div class="display-label">
        <b>Nơi Đến</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDen)
    </div>

    <div class="display-label">
        <b>Ngày khởi hành</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayKhoiHanh)
    </div>
    <div class="display-label">
        <b>Giá</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gia) VND
    </div>
    <div class="display-label">
         <b>Số Chỗ Còn Nhận</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoChoConNhan)
    </div>
    <p>
        <span class="label">Click vào</span> <i><a href="https://www.facebook.com/nhat.sinh.79">đây</a></i><span class="label">đây để xem chi tiết</span>
    </p>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TourID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
