﻿@model Project_LTW.Models.Tour

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}


<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tour</legend>

        @Html.HiddenFor(model => model.TourID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenTour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenTour)
            @Html.ValidationMessageFor(model => model.TenTour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDi)
            @Html.ValidationMessageFor(model => model.NoiDi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDen)
            @Html.ValidationMessageFor(model => model.NoiDen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayKhoiHanh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayKhoiHanh)
            @Html.ValidationMessageFor(model => model.NgayKhoiHanh)
        </div>
        <div class="editor-label">
            <b>Giá:</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gia)
            @Html.ValidationMessageFor(model => model.Gia)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SoChoConNhan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoChoConNhan)
            @Html.ValidationMessageFor(model => model.SoChoConNhan)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UrlTour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UrlTour)
            @Html.ValidationMessageFor(model => model.UrlTour)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
