﻿@model IEnumerable<Project_LTW.Models.Tour>

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}

<h2>Tour Du Lịch</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    table, th, td {
        border: 2px solid #31ff00;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th width="200">Tên Tour</th>
        <th width="150">Nơi Đi</th>
        <th width="150">Nơi Đến</th>
        <th width="130">Ngày Khởi Hành</th>
        <th width="100">Giá</th>
        <th width="100"> Số Chỗ Còn Nhận</th>
        <th width="140">Thao tác</th>

    </tr>
    @foreach (var item in Model.OrderByDescending(x => x.NgayKhoiHanh))
    {
        <tr>
            <td>@Html.ActionLink(item.TenTour, "Details", new { id = item.TourID })</td>
            <td>@item.NoiDi</td>
            <td>@item.NoiDen</td>
            <td>@item.NgayKhoiHanh</td>
            <td>@item.Gia</td>
            <td>@item.SoChoConNhan</td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.TourID })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.TourID })
                @Html.ActionLink("Xóa", "Delete", new { id = item.TourID })
            </td>

        </tr>
    }

</table>