﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")  
        @Scripts.Render("~/bundles/jquery")

        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                @*<div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>*@
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                </div>
        </header>
        <div class="text-align: center">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tour Du Lịch", "Index", "Tour")</li>
                    <li>@Html.ActionLink("Địa Danh Du Lịch", "Index", "DiaDanh")</li>
                    <li>@Html.ActionLink("Trung Tâm Du Lịch", "Index", "TrungTam")</li>
                    <li>@Html.ActionLink("Đăng Bài Mới", "Create", "DangBaiMoi")</li>
                    <li>
                        <a href="https://www.facebook.com/nhat.sinh.79">Trang Cá Nhân</a>
                        @*<li>@Html.ActionLink("Thông Tin Website", "About", "Home")</li>*@
                    <li>@Html.ActionLink("Liên Hệ", "Contact", "Home")</li>
                </ul>
            </nav>
        </div>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

    
        @RenderSection("scripts", required: false)
    </body>
</html>
