﻿@model Project_LTW.Models.DangBaiMoi

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}

<h2>Đăng bài mới</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DangBaiMoi</legend>

        <div class="editor-label">
            <h3>Tiêu Đề</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            <h3>Nội Dung</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body, new { @id = "ckeContent" })
            <script type="text/javascript">
                CKEDITOR.replace("ckeContent")
            </script>
        </div>
        <div class="editor-label">
            <h3>Tag</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tagg)
            @Html.ValidationMessageFor(model => model.Tagg)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserProfileID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileID)
            @Html.ValidationMessageFor(model => model.UserProfileID)
        </div>*@

        <p>
            <input type="submit" value="Đăng Bài" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay về Trang Chủ", "Index", "Home")    @Html.ActionLink("Lên Đầu Trang", "Create")    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
