﻿@model Project_LTW.Models.DangBaiMoi

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DangBaiMoi</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            <b>Nội Dung</b>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body, new { @id = "ckeContent" })
            <script type="text/javascript">
                CKEDITOR.replace("ckeContent")
            </script>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tagg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tagg)
            @Html.ValidationMessageFor(model => model.Tagg)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserProfileID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileID)
            @Html.ValidationMessageFor(model => model.UserProfileID)
        </div>*@

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
