﻿@model QL_Account.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>
    <i>Tag: </i>@Html.DisplayFor(model => model.Content)<br />
    <b>Posts:</b><br />
    @foreach (var p in Model.Posts)
    {
        <div class="display-field">
           <h4> @Html.ActionLink(p.Title, "Details", new { Controller = "Post", action = "Details", id = p.ID })</h4>
        </div>
    }
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
