﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Tác giả: Lê Nhất Sinh.
    </p>

    <p>
        Phiên bản Web 3.0 Ver 1.2.2
    </p>

    <p>
        Ngày phát hành: Dự kiến chưa biết.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Đăng bài", "Create", "Post")</li>
    </ul>
</aside>