﻿@model QL_Account.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
        <h4> @Html.DisplayNameFor(model => model.Title)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        <h4> @Html.DisplayNameFor(model => model.Body)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         <h4>@Html.DisplayNameFor(model => model.DateCreate)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

<fieldset>
    <legend>Tag</legend>
    <div class="display-label">
        <h4>Tag:</h4>
    </div>
    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
            @Html.ActionLink(tag.Content.ToString(), "Details", new { Controller = "Tag",action ="Details",id=tag.ID})
        </div>
    }
</fieldset>


@Html.Partial("_addComment", new QL_Account.Models.Comment(), ViewData)

<fieldset>
    <legend>Comment</legend>
    <div class="display-field">
        <h2>Comment:</h2>
    </div>
   <div id="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {
        <div class="display-field">
            <h3>Tác giả: @Html.DisplayFor(x => comment.Author)</h3>
        </div>
        <div class="display-field">
            <h5>Cách đây: @Html.DisplayFor(x => comment.LastTime) phút</h5>
        </div>
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
    }
       </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
