﻿@model IEnumerable<QL_Account.Models.Post>

@{
    ViewBag.Title = "Bài viết";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<style>
    table, th, td {
        border:2px solid black;
        border-collapse:collapse
    }
    </style>
<table>
    <tr>
       <th width="190">Tieu De </th>
        <th width="750">Noi Dung </th>
        <th width="130">Ngay Dang</th>
        <th width="140">Thao tac</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Title
        </td>
        <td>
            @item.Body
        </td>
        <td>
            @item.DateCreate
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
