﻿@model Project_LTW.Models.RatingTT

@using (Html.BeginForm("Create", "RatingTT", FormMethod.Post, new { id = "My-Form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Rating</legend>
        <div class="display-label">
            <h4>Đánh giá</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diem)
            @Html.ValidationMessageFor(model => model.Diem)
        </div>

        <div>
            @Html.Hidden("idtrungtam", ViewData["idtrungtam"])
            <p>
                <input type="submit" value="Đánh giá" />
            </p>
        </div>
    </fieldset>
}
<script src="~/Scripts/addRatingTT.js"></script>