﻿@model Project_LTW.Models.TrungTam

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}

<h2>Trung Tâm Du Lịch</h2>

<fieldset>
    <legend>TrungTam</legend>


    <div class="display-field">
      <h4>  @Html.DisplayFor(model => model.Title)</h4>
    </div>
    <fieldset>
        <div id="result1">
            @foreach (var rate in Model.RatingTTs.OrderByDescending(x => x.Diem).Take(1))
            {
                <div class="display-field">
                    <i>Đánh giá: @Html.DisplayFor(x => rate.Diem)</i>
                </div>
            }
        </div>
        Đăng ngày: @Html.DisplayFor(model => model.DateCreate) bởi @Html.DisplayFor(model => model.UserProfile.UserName)
    </fieldset>
    <div class="display-label">
        <h3>Nội Dung</h3>
    </div>
    <div class="display-field">
        @Html.Raw(Model.Body)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>*@
</fieldset>
@Html.Partial("_addRatingTT",new Project_LTW.Models.RatingTT(),ViewData)
@Html.Partial("_addCommentTT", new Project_LTW.Models.Comment(), ViewData)
<fieldset>
    <legend>Comment</legend>
    <div class="display-field">
        <h3>Comment:</h3>
    </div>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            if (comment.Loai == 2)
            {
                <div class="display-field">
                    <h5>Tác giả: @Html.DisplayFor(x => comment.Author)</h5>
                </div>
                <div class="display-field">
                  Cách đây: @Html.DisplayFor(x => comment.LastTime) phút
                </div>
                <div class="display-field">
                    @Html.DisplayFor(x => comment.Body)
                </div>
            }

        }
    </div>
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")  |
    @Html.ActionLink("Lên Đầu Trang", "Details", new { id = Model.ID })
</p>
