﻿@model Project_LTW.Models.TrungTam

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
    }

<h2>Trung Tâm Du Lịch</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TrungTam</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            <h3>Tiêu Đề</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            <h3>Nội Dung</h3>
        </div>
        @Html.TextAreaFor(model => model.Body, new { @id = "ckeContent" })
        <script type="text/javascript">
            CKEDITOR.replace("ckeContent")
        </script>



        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
