﻿@model IEnumerable<Project_LTW.Models.TrungTam>

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}
@using (Html.BeginForm("Index", "TrungTam", FormMethod.Get))
{
    <p>
        @*Publisher: @Html.DropDownList("Publishers", "All")*@
        Tên bài viết: @Html.TextBox("strSearch")
        <input type="submit" value="Search" />
    </p>
} 
<h2>Trung Tâm Du Lịch</h2>

<p>
   <h5> @Html.ActionLink("Đăng bài mới", "Create")</h5>
</p>
<style>
    table, th, td {
        border: 2px solid #31fb0a;
        border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th width="192">Tiêu đề</th>
        <th width="750">Nội dung</th>
        <th width="130">Ngày đăng</th>
        <th width="140">Thao tác</th>

    </tr>
    @foreach (var item in Model.OrderByDescending(x => x.DateCreate))
    {
        <tr>
            <td>@Html.ActionLink(item.Title, "Details", new  {id=item.ID })</td>
            <td>@Html.Raw(item.Body)</td>
            <td>@item.DateCreate</td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID })
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>

        </tr>
    }

</table>
