﻿@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}
<div class="body">
        <h5>InfoTourism - Nơi tìm kếm và chia sẻ thông tin du lịch</h5>
    Đúng như triết lý “Nơi chia sẻ và tìm kiếm thông tin du lịch nhanh chóng và chính
    xác nhất” – InfoTourism cung cấp cho bạn một cách đầy đủ và chính xác nhất thông 
    tin du lịch về nơi mà bạn quan tâm. Giúp bạn có thể truy xuất thông tin nhanh nhất 
    có thể  mà vẫn mang lại kết quả tốt nhất cho bạn
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    <ul id="inlineBlock2">
        <li>
            <a href="http://localhost:3843/Tour" class="thumb">
                <img src="../Images/pic-tour2.png">
            </a>
            <p class="title">
                <a href="http://localhost:3843/Tour">
                    <h3> Tour Du Lịch</h3>
                </a>
            </p>
        </li>
        <li>
            <a href="http://localhost:3843/DiaDanh/Details/3" class="thumb">
                <img src="../Images/pic-trongnuoc.png">
            </a>
            <p class="title">
                <a href="http://localhost:3843/DiaDanh/Details/3">
                    <h3> Du Lịch Trong Nước </h3>
                </a>
            </p>
        </li>
        <li>
            <a href="http://localhost:3843/DiaDanh/Details/1" class="thumb">
                <img src="../Images/pic-chauau.png">
            </a>
            <p class="title">
                <a href="http://localhost:3843/DiaDanh/Details/1">
                    <h3> Du Lịch Châu Âu</h3>
                </a>
            </p>
        </li>
        <li>
            <a href="http://localhost:3843/TrungTam" class="thumb">
                <img src="../Images/pic-tour.png">
            </a>
            <p class="title">
                <a href="http://localhost:3843/TrungTam">
                    <h3> Trung Tâm Du Lịch </h3>
                </a>
            </p>
        </li>
    </ul>
    </div>
