﻿@model Project_LTW.Models.Rating

@using (Html.BeginForm("Create", "Rating", new { iddiadanh = ViewData["iddiadanh"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Rating</legend>

        <div class="editor-label">
            <h4>Đánh Giá</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Diem)
            @Html.ValidationMessageFor(model => model.Diem)
        </div>

        <p>
            <input type="submit" value="Đánh giá" />
        </p>
    </fieldset>
}

