﻿@model Project_LTW.Models.DiaDanh

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
    }
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DiaDanh</legend>

        <div class="editor-label">
            <h3>Tên Bài Viết</h3>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            <h3>Nội Dung Bài Viết</h3>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body, new { @id="ckeContent"})
            <script type="text/javascript">
                CKEDITOR.replace("ckeContent")
            </script>
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.DateCreate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreate)
            @Html.ValidationMessageFor(model => model.DateCreate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DanhGiaDD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DanhGiaDD)
            @Html.ValidationMessageFor(model => model.DanhGiaDD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileID)
            @Html.ValidationMessageFor(model => model.UserProfileID)
        </div>*@
        <div class="editor-label">
            <h3>Tag</h3> <i>(Thêm các mô tả cho bài viết)</i>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => new Project_LTW.Models.Tag().Content)
            @Html.ValidationMessageFor(model => new Project_LTW.Models.Tag().Content)
        </div>
        <p>
            <input type="submit" value="Đăng Bài" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
