﻿@model Project_LTW.Models.DiaDanh

@{
    ViewBag.Title = "InfoTourism - Nơi tìm kiếm và chia sẻ thông tin du lịch";
}

<h2>Địa Danh Du Lịch</h2>

<fieldset>
    <legend>DiaDanh</legend>

    <div class="display-field">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
    </div>
    @foreach (var rate in Model.Ratings.OrderByDescending(x=>x.Diem).Take(1))
    {
        <div class="display-field">
            <i>Đánh giá: @Html.DisplayFor(model => rate.Diem)</i>
        </div>
    }
    Đăng ngày: @Html.DisplayFor(model => model.DateCreate) bởi @Html.DisplayFor(model => model.UserProfile.UserName)
    <div class="display-label">
         <h3>Nội Dung</h3>
    </div>
    <div class="display-field">
       @Html.Raw(Model.Body)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileID)
    </div>*@
</fieldset>

<fieldset>
    <legend>Tag</legend>
    <div class="display-label">
        <h3>Tag:</h3>
    </div>
    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
           <i> @Html.ActionLink(tag.Content.ToString(), "Details", new { Controller = "Tag", action = "Details", id = tag.ID })</i>
        </div>
    }
</fieldset>
@Html.Partial("_addRating",new Project_LTW.Models.Rating(),ViewData)
@Html.Partial("_addComment", new Project_LTW.Models.Comment(), ViewData)
<fieldset>
    <legend>Comment</legend>
    <div class="display-field">
        <h3>Comment:</h3>
    </div>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            if(comment.Loai==1)
            {
                <div class="display-field">
               <h5>Tác giả: @Html.DisplayFor(x => comment.Author)</h5>
            </div>
            <div class="display-field">
               Cách đây: @Html.DisplayFor(x => comment.LastTime) phút
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div> 
            }
            
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Lên Đầu Trang","Details",new {id=Model.ID})
</p>
