﻿@model Project_LTW.Models.RatingTT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RatingTT</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrungTams.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrungTams.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Diem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diem)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
