﻿@model Project_LTW.Models.Comment

<div class="display-field">
    <h3>Tác giả: @Html.DisplayFor(model => model.Author)</h3>
</div>
<div class="display-field">
    <h5>Cách đây: @Html.DisplayFor(model => model.LastTime) phút</h5>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>

